@import '../../base';

.homeParallax{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    svg {position: absolute; object-fit: cover;}
    .p1 {left: 27%; top: 10%;}
    .p2 {left: 38%; top: 30%;}
    .p3 {left: 33%; bottom: 30%;}
    .p4 {left: 27%; bottom: 10%;}
    .p5 {left: 53%; top: 10%;}
    .p6 {left: 51%; bottom: 10%;}
    .p7 {top: 20%; right: 30%;}
    .p8 {right: 25%; bottom: 20%;}
    .p9 {right: 10%; top: 10%;}
    .p10 {top: 45%; right: 15%;}
    .p11 {bottom: 10%; right: 10%;}
}

@media (max-width: $breakpoint-medium) {
    .homeParallax{
        
        .p1 {left: 10%;}
        .p2 {left: 25%;}
        .p3 {left: 15%;}
        .p4 {left: 10%;}
        .p5 {left: 45%;}
        .p6 {left: 40%;}
        .p7 {top: 20%;}
        .p8 {right: 30%;}
        .p9 {right: 10%;}
    }
}