@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
.aboutInfo{
    h3{
        text-align: center;
        margin-top: 1.8rem;
        margin-bottom: 2rem;
        span{
            color: #06d7ff;
        }
    }
    .col-md-6{
        text-align: center;
        img{
            margin-bottom: .5rem;
        }
        h6{
            font-weight: 600;
            color: black;
        }
        p{
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 600;
        }
    }
}

@media (max-width: 360px) {
    .aboutInfo{
        h3{
            font-size: 1.7rem;
        }
    }
}