.timeline-item{

    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
    &::before{
        background-color: red;
        content: '';
        width: 1px;
        position: absolute;
        height: 100%;
        left: 7px;
        top: 1px;
    }
    &:last-child{
        padding-bottom: 0px;
    }

    .circle-dot{
        position: absolute;
        top: 1px;
        left: 0;
        height: 15px;
        width: 15px;
        left: 0px;
        border-radius: 50%;
        background-color: red;
    }

    .timeline-data{
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 12px;
        span{
            font-size: 1rem;
            font-weight: 500;
        }
    }

    .timeline-title{
        font-weight: 700;
        font-size: 1.4rem;
        margin-bottom: 15px;
        text-transform: capitalize;
        color: #302e4d;
    }

    .timeline-text{
        font-size: 1rem;
        line-height: 25px;
        color: #504e70;
        margin: 0;
        font-family: 'Josefin Sans', sans-serif;
    }
}

@media (max-width: 360px) {
    .timeline-item{
        .timeline-title{
            font-size: 1.2rem;;
        }
    }
    .timeline-text{
        font-size: .8rem;
    }
}