.workFilterBtn_main{
    .workFilterBtn{
        margin-top: 4.5rem;
        margin-left: 1rem;
        button{
            outline: none;
            border: none; 
            margin-right: 2rem;
            font-size: 1rem;
            font-weight: 500;
            padding: .4rem 1rem;
            border-radius: 10px;
            background-color: #f50057;
            color: white;
            transition: all .2s ease-in;
            &:hover{
                background-color: #fcc439;
                color: black;
            }
        }
        .filter_count {
            display: inline-block;
            margin-top: 1.5rem;
        }
    }
}

@media (max-width: 360px) {
    .workFilterBtn_main{
        .workFilterBtn{
            margin-left: 0rem!important;
            button{
                margin-right: .5rem!important;
                font-size: 1rem;
                padding: .3rem .6rem!important;
            }
        }
    }
    
}
@media (max-width: 480px) {
    .workFilterBtn{
        text-align: center;
        button{
            margin-right: .5rem!important;
        }
    }
}
@media (max-width: 768px) {
    .workFilterBtn{
        margin-left: 0rem!important;
        .filter_count {
            margin-bottom: -1.5rem;
        }
    }
}