@import '../../base';

.scroll_icon{
    margin-top: 10px;
    animation: scrollTop 0.5s alternate ease infinite;
    position: fixed;
    bottom: 98px;
    right: 30px;
    z-index: 1;
    font-size: 2.6rem!important;
    color: #fff;
    background: #ff4c60;
    border-radius: 50%;
    cursor: pointer;
}

@keyframes scrollTop {
    from{
        transform: translateY(2px);
    }
    to{
        transform: translateY(-1px);
    }
}