.skill-item{
    margin-top: 24px;
    img{
        width: 20px;
        height: 20px;
        object-fit: cover;
    }
    h5{
        font-size: 17px;
        font-weight: 600;
        color: #302e4d;
        text-transform: capitalize;
        margin: 0;
        margin-bottom: .2rem;
        small{
            color: red;
            margin-left: 5px;
        }
        span{
            float: right;
        }
    }
    .progress{
        background-color: #e3e3e3;
        height: 7.5px;
        border-radius: 4px;
        width: 100%;
        position: relative;
        .progress-bar{
            width: 0%;
            opacity: 0;
            height: 100%;
            border-radius: 10px;
            position: relative;
            transition: all 1s;
        }
    }
}