@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import '../../base';

.sidebar{
    background-color: $background-color;
    position: fixed;
    width: 290px;
    height: 100vh;
    top:0;
    left: 0;
    bottom: 0;
    border-right: 1px solid hsla(0,0%,100%,.1);
    transition: transform 0.2s ease-in;
    z-index: 99999;

    .sidebar_logo{
        h1{
            color: #fff;
            .clear{
                display: none;
                cursor: pointer;
                margin-top: 80px;
                margin-left: 30px;
                .MuiSvgIcon-root{
                    font-size: 1.9rem;
                    margin-top: .7rem;
                }
            }
        }
    }
    

    

    nav{
        margin: 2.3rem;
        ul{
            margin-top: 5rem;
            li{
                list-style: none;
                padding: .5rem;
                a{
                    text-decoration: none;
                    color: #fff;
                    position: absolute;
                    font-weight: 500;
                    transition: all .3s;
                    margin-top: 2px;
                    font-size: 1.1rem;
                    &:hover{
                        color: $primary-color;
                        transform: translateX(5px);
                    }
                }
                .MuiSvgIcon-root{
                    color: $icon-color;
                    margin-right: .6rem;
                    font-size: 1.5rem;
                }
            }
        }
        
    }

    &.open{
        transform: translateX(0);
    }

    .sidebar_footer{
        position: absolute;
        bottom: 30px;
        left: 60px;
        color: #9c9ab3;
    }
}

.sidebar_logo{
    .title_font{
        color: #fff;
        margin: 3rem;
        font-family: 'Niconne', cursive;
        font-size: 3rem;
        letter-spacing: 3px;
        
    }
    .dot{
        background: $primary-color;
        display: block;
        border-radius: 50%;
        height: 7px;
        width: 7px;
        margin-left: -16.5%;
        margin-top: 30%;
    }
}




@media (max-width: $breakpoint-medium) {
    .sidebar {
       transform: translateX(-100%);
       .sidebar_logo{
            h1{
                .clear{
                    display: block;
                }
            }
       }
       
    }
 }

