@import '../../base';

.topbar{
    background: $background-color;
    display: none;

    .topbar_items{
        .MuiSvgIcon-root{
            font-size: 2.2rem;
            color: #fff;
            margin-top: .6rem;
            margin-left: 2rem;
            cursor: pointer;
        }
    }

    .sidebar_logo{
        .title_font{
            font-size: 3rem;
            letter-spacing: 3px;
            margin-top: -.1rem;
            margin-left: 1rem;
        }
        .topbar_dot{
            background: $primary-color;
            display: block;
            border-radius: 50%;
            height: 7px;
            width: 7px;
            margin-left: -49px;
            margin-top: 38px;
        }
    }
}
.topbarMain{
    position: fixed;
    z-index: 11111;
    width: 100%;
    .topbar_active{
        visibility: visible;
        transition: all .5s;
    }
    .topbar_hidden{
        visibility: hidden;
        transition: all .5s;
        transform: translateY(-100%);
    
    }
}

@media (max-width: $breakpoint-medium) {
    .topbar {
        display: block;
        height: 8.5vh;
        border-bottom: 1px solid hsla(0,0%,100%,.1);;
        .topbar_items{
            display: flex;
        }
    }
 }