@import '../../../../base';

.owl-nav{
    display: none;
}
.owl-theme .owl-dots .owl-dot span {
    background: $icon-color!important;
}
.owl-theme .owl-dots {
    margin-top: -35px;
    position: relative;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: $primary-color!important;
}