@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.latestWorkCarousel{
    .latest_work_img{
        text-align: center;
        img{
            width: 400px;
        }
    }
    .latest_work{
        margin-top: 1rem;
        .owl-theme .owl-dots {
            margin-top: -25px;
        }
        .item{
            img{
                border-radius: 10px;
            }
        }
    }
}