@import '../../base';

.about{
    padding-top: 1rem;
    padding-bottom: 3rem;

    .about_profile{
        text-align: center;
        img{
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
            width: 200px;
            object-fit: cover;
            border-radius: 15px;
        }
    }
}
@media (max-width: 766px) {
    .about_profile{
        img{
            margin-top: 0rem!important;
        }
    }
}















// .shadow-dark {
//     -webkit-box-shadow: 0px 5px 20px 0px rgba(69,67,96,0.1);
//     -moz-box-shadow: 0px 5px 20px 0px rgba(69,67,96,0.1);
//     box-shadow: 0px 5px 20px 0px rgba(69,67,96,0.1);
// }

// .shadow-light {
//     -webkit-box-shadow: 0px 5px 20px 0px rgba(255, 255, 255, 0.01);
//     -moz-box-shadow: 0px 5px 20px 0px rgba(255, 255, 255, 0.01);
//     box-shadow: 0px 5px 20px 0px rgba(255, 255, 255, 0.01);
// }

// .shadow-blue {
//     -webkit-box-shadow: 0px 5px 20px 0px rgba(108,108,229,0.5);
//     -moz-box-shadow: 0px 5px 20px 0px rgba(108,108,229,0.5);
//     box-shadow: 0px 5px 20px 0px rgba(108,108,229,0.5);
// }

// .shadow-pink {
//     -webkit-box-shadow: 0px 5px 20px 0px rgba(249,123,139,0.5);
//     -moz-box-shadow: 0px 5px 20px 0px rgba(249,123,139,0.5);
//     box-shadow: 0px 5px 20px 0px rgba(249,123,139,0.5);
// }

// .shadow-yellow {
//     -webkit-box-shadow: 0px 5px 20px 0px rgba(249,215,76,0.5);
//     -moz-box-shadow: 0px 5px 20px 0px rgba(249,215,76,0.5);
//     box-shadow: 0px 5px 20px 0px rgba(249,215,76,0.5);
// }