@import '../../../../base';
.sort_about{
    background: #fff;
    box-shadow: 0px 5px 20px 0px rgba(69,67,96,0.1);
    padding: 1.5rem 2rem;
    color: $text-color;
    border-radius: 1.4rem;
    &::before{
        content: "";
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 15px solid #fff;
        position: absolute;
        left: -14px;
        top: 20%;
    }
    .about_intro{
        span{
            color: $primary-color;
        }
    }
    .about_intro_text{
        font-size: 1.1rem;
        margin-top: 1rem;
    }
}

@media (max-width: 766px) {
    .about{
        .sort_about{
            &::before{
                border-top: none;
                border-bottom: none;
                border-right: none;
            }
        }
    }
}