.logo{
    .title_font{
        color: #fff;
        font-family: 'Niconne', cursive;
        font-size: 3rem;
    }
    .dot{
        background: #ff4c60;
        display: block;
        border-radius: 50%;
        height: 7px;
        width: 7px;
        margin-left: 2px;
        margin-top: 2.4rem;
    }
}