@import '../../../base';
.globalTitle{
    h1{
      color: $text-color;
      font-weight: 700;
      margin-bottom: 3.5rem;
      &::before{
        content: "";
        background-image: url(../../../images/img/dots-bg.svg);
        display: block;
        height: 37px;
        position: relative;
        top: 28px;
        right: 9px;
        width: 37px;
      }
    }
  }