@import '../../base';
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

.home{
    background-color: $background-color;
    height: 100vh;
    .home_items{
        margin: auto;
        max-width: 540px;
        text-align: center;
        position: relative;
        z-index: 1;
        color: #fff;
        img{
            margin-bottom: 1.5rem;
            width: 130px;
            object-fit: cover;
            border-radius: 100%;
            height: 130px;
        }
        
    }
}

@media (max-width: $breakpoint-medium) {
    .home{
        height: 100vh;
        .home_items{
            margin-top: -5rem!important;
        }
    }
}
@media (max-width: 480px) {
    .home{
        .parallax_hide{
            display: none;
        }
    }
}
