.icon-list {
  padding: 0 1.5rem;
  display: inline-flex;
  .icon-item {
    .icon-link {  
      display: inline-flex;
      font-size: 1.4rem;  
      text-decoration: none;  
      width: 2.8rem;
      height: 2.8rem;   
      transition: .5s linear;
      position: relative;
      z-index: 1;
      i {
        margin: auto;
        color: #fff;  
      }
    }
  }
}
.icon-link::before {  
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  transition: 0.3s cubic-bezier(.95, .32, .37, 1.21);
}
.icon-link:hover::before {  
  transform: scale(1);
}
.icon-item:nth-child(1) a:hover:before { 
  background: #3b5998; 
}
.icon-item:nth-child(2) a:hover:before { 
  background: #0e76a8; 
}
.icon-item:nth-child(3) a:hover:before { 
  background: #171515; 
}
.icon-item:nth-child(4) a:hover:before { 
  background: #f2003c; 
}
.icon-item:nth-child(5) a:hover:before { 
  background: #00acee; 
}
  