/* .works{
    .card{
        border-radius: 10px 10px 50px 7px;
        box-shadow: 3px 3px 16px 3px #ccc;
        background-color: #daedfb;
        text-align: center;
        img{
            border-radius: 10px 10px 0px 0px;
        }
        a{
            .live-icon{
                font-size: 50px;
                color: #2680c0;
                background-color: #b4dffe;
                border: 5px solid white;
                border-radius: 50%;
                padding: 7px;
                margin-top: -28px;
                transition: all 0.3s ease;
                &:hover{
                    background-color: #2680c0;
                    color: #b4dffe;
                }
            }
        }
        .lable_category{
            button{
                background: linear-gradient(45deg,#4289ff,#07f8c3);
                border: none;
                color: white;
                cursor: none;
                position: absolute;
                left: 0;
                bottom: 0;
                text-transform: lowercase;
                
                padding: .1rem 1rem .1rem .3rem;
                border-radius: 0px 50px 0px 0px;
            }
            
        }
        .lable_update{
            button{
                background: red;
                border: none;
                color: white;
                cursor: none;
                position: absolute;
                right: 0;
                top: 43%;
                text-transform: lowercase;
                padding: .2rem .6rem;
                border-radius: 10px;
                font-size: .9rem;
            }
            
        }
        h4{
            text-align: center;
            color: rgb(70, 63, 0);
        }
        .buttons{
            margin-bottom: 2rem;
            a{
                button{
                    border: none;
                    padding: .2rem .6rem;
                    border-radius: 7px;
                    margin-right: .8rem;
                    font-weight: 400;
                    transition: all .3s ease-out;
                    .MuiSvgIcon-root {
                        margin-top: -5px;
                    }
                }
                .btn1{
                    background-color: #2680c0;
                    color: white;
                    border: 1px solid #2680c0;
                    &:hover{
                        background-color: #b4dffe;
                        color: black;
                    }
                }
                .btn2{
                    background-color: #b4dffe;
                    color: black;
                    border: 2px solid #2680c0;
                    &:hover{
                        background-color: #2680c0;
                        color: white;
                    }
                }
            }
        }
    }
} */

.card__description{
  
    a{
        button{
            border: none;
            padding: .2rem .6rem;
            border-radius: 7px;
            margin-right: .8rem;
            font-weight: 400;

            transition: all .3s ease-out;
            .MuiSvgIcon-root {
                margin-top: -5px;
            }
        }
        .btn1{
            background-color: #2680c0;
            color: white;
            border: 2px solid #2680c0;
            &:hover{
                background-color: #b4dffe;
                color: black;
                transform: scale(1.05);
            }
        }
        .btn2{
            background-color: #b4dffe;
            color: black;
            border: 2px solid #2680c0;
            &:hover{
                background-color: #2680c0;
                color: white;
                transform: scale(1.05);
            }
        }
      }
    
}

a{
  .live-icon{
      font-size: 3rem;
      color: #2680c0;
      background-color: #b4dffe;
      border: 5px solid #f9f9ff;
      border-radius: 50%;
      padding: 7px;
      transition: all 0.3s ease;
      &:hover{
          background-color: #2680c0;
          color: #b4dffe;
      }
  }
}
.lable_update{
  button{
      background: red;
      border: none;
      color: white;
      cursor: none;
      position: absolute;
      right: 0;
      top: -11%;
      text-transform: lowercase;
      padding: .2rem .6rem;
      border-radius: 10px;
      font-size: .9rem;
  }
  
}


:root {
    --surface-color: #353353;
    --curve: 25;
  }
  
  .card {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
    margin-bottom: 5.9rem;
  }
  
  .card__image {      
    width: 100%;
    height: auto;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .3s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .3s ease-in-out;
  }
        
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__title {
    font-size: 1.2em;
    margin: 0 0 .3em;
    color: #fff;
  }
  
  .card__tagline {
    display: block;
    margin: 1em 0; 
    font-size: .8em; 
    color: #D7BDCA;  
  }
  
  .card__status {
    font-size: .8em;
    color: #D7BDCA;
  }
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #D7BDCA;
    overflow: hidden;
  }    
