.experience{
  .timeline {
    box-shadow: 0px 5px 20px 0px rgba(69,67,96,0.1);
    background: #fff;
    padding: 30px 15px;
    border-radius: 24px;
    position: relative;
    margin-bottom: 1.5rem;
  }
} 
  
