.paginationBttns {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .paginationBttns a:hover {
    color: white!important;
    background-color: #f50057;
  }

  .paginationActive a {
    color: white!important;
    background-color: #f50057;
    
  }

  .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid grey;
    color: rgb(56, 56, 56);
    cursor: pointer;
    font-weight: 600;
    transition: all .1s ease-in-out;
  }

  .paginationDisabled a {
    color: rgb(207, 207, 207);
    background-color: grey;
  }