.workInfo{
    margin-top: 6rem;
    .work_info_item{
        .first_item{
            color: #0db3c7;
        }
        h1{
            color: black;
        }
        ul{
            li{
                list-style: none;
            }
        }
        .list_1{
            li{
                font-weight: 500;
                color: #0db3c7;
            }
        }
        .list_2{
            li{
                color: black;
            }
        }
    }
    .img{
        text-align: center;
        img{
            width: 450px;
        }
    }

}