.title_rotate {
    span{
        display: inline-block;
        animation: waviy_span 3s 1;
        letter-spacing: 3px;
        font-size: 2.7rem;
        line-height: 1.30;
        font-weight: 600;
        margin-top: -.5rem;
        font-family: 'Akaya Kanadaka', cursive;
    }
    .dit_hide{
        color: transparent;
    }
}

@keyframes waviy_span{
    0%, 80% {
        transform: rotate(360deg);
    }
}