@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap');

$text-color:#454360;
$background-text-color:#454360;
$icon-color:#ffd15c;
$primary-color: #ff4c60;
$background-color:#353353;

$breakpoint-medium: 992px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #5e5c7f;
    background-color: #f9f9ff;
    font-family: "Rubik",sans-serif;
    font-size: 16px;
}
html{
    scroll-behavior: smooth;
}
