.defaultBtn{
    margin-top: 1.1rem!important;
    .MuiButton-root {
        padding: 7px 27px;
        border-radius: 25px;
        text-transform: unset;
        font-size: 1rem;
        font-weight: 600;
        transition: all .2s;
        
    }
    .home_Btn:hover{
        transform: scale(1.05);
    }
    .about_btn:hover{
        background-color: #fcc439;
        color: black;
    }
}